name: Preview Pluto notebooks
on:
    pull_request
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Install Julia
              uses: julia-actions/setup-julia@v1
              with:
                  version: 1
            - name: Run Pluto notebooks
              run: julia -e 'using Pkg;
                  Pkg.add(PackageSpec(url = "https://github.com/fonsp/PlutoUtils.jl", rev="static-export"));
                  Pkg.add(PackageSpec(name = "Pluto", rev = "04dce91"));
                  
                  import PlutoUtils;

                  PlutoUtils.Export.github_action(; export_dir=".", offer_binder=true);'
            - name: Upload artifacts for preview
              uses: actions/upload-artifact@v2